<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Movies campus</span>
    <span class="menu-spacer"></span>
    <button mat-button routerLink="ma-bibliotheque">Ma bibliothèque</button>
    <button mat-button routerLink="tmdb-bibliotheque">Bibliothèque TMDB</button>
  </mat-toolbar-row>
</mat-toolbar>
