<mat-toolbar>
  <mat-toolbar-row style="font-size: 14px">
    <span>Films Populaire</span>

    <div class="button-selection">
      <button *ngIf="!isSelectedMode" mat-stroked-button color="primary" (click)="isSelectedMode = true">Selection</button>

      <div *ngIf="isSelectedMode">
        <button mat-stroked-button color="warn" (click)="resetSelectMovies()">Annuler</button>
        <button mat-stroked-button color="primary" (click)="saveSelection()">Sauvegarder</button>
      </div>
    </div>

    <span class="menu-spacer"></span>

    <mat-form-field appearance="outline" style="margin-top: 20px; margin-right: 10px;">
      <mat-label>Entrer une recherche</mat-label>
      <input matInput type="text" [(ngModel)]="search">
      <button mat-icon-button matSuffix (click)="searchMovies()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <mat-paginator #paginator [pageIndex]="pageIndex" [pageSize]="pageSize" [length]="pageLength" hidePageSize="true" aria-label="Select page"
     (page)="changePage($event)">
    </mat-paginator>
  </mat-toolbar-row>
</mat-toolbar>

<app-list-card-movies *ngIf="movies.length > 0" [(movies)]="movies" [isSelectedMode]="isSelectedMode" [(moviesSelected)]="moviesSelected" ></app-list-card-movies>
<app-no-movies *ngIf="movies.length === 0"></app-no-movies>
