<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let movie of movies">
      <mat-card (click)="isSelectedMode && onSelectCard(movie)" [ngClass]="{'card-selected mat-elevation-z4': isSelectedMode && movie.selected} ">
        <span [hidden]="!isSelectedMode" class="selection">
          <mat-icon>check_circle</mat-icon>
          </span>
        <mat-card-title> {{ movie.title }} </mat-card-title>

        <img mat-card-image [src]="apiTmdbImageUrl + movie.poster_path" alt="Image film">

        <mat-card-content>
          {{ movie.overview }}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
